nav {
    display: flex;
    align-items: center;
    line-height: 2.3rem;
    background-color: var(--color-p-500);
    font-size: var(--text-2xl);
    color: var(--color-p-100);
}

nav>.title {
    margin-left: .6rem;
}