* {
    color: var(--color-p-100);
}

nav {
    background-color: var(--color-p-500);
    padding: .6rem .6rem 0;
    font-size: var(--text-2xl);
    display: flex;
    justify-content: space-between;
}

aside {
    background-color: var(--color-p-500);
    display: flex;
    align-items: center;
    /* padding: .6rem; */
    padding-left: 0;
}

aside h1 {
    padding: 0 1.6rem;
    /*!!!!!!!注意！*/
    font-size: var(--text-4xl);

}

aside .danmu_box {
    flex: 1;
    background-image: linear-gradient(to right, var(--color-p-300), var(--color-p-400), var(--color-p-400));
    /* box-sizing: border-box; */
    border: .2rem solid var(--color-p-100);
    border-radius: .6rem;
    height: 6rem;
    overflow: hidden;
    margin-right: 1rem;
    margin-top: .5rem;
}

aside .danmu_box ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 .5rem;
    padding-top: .4rem;

}

aside .danmu_box ul li {
    text-align: right;
    padding-bottom: .4rem;
}

aside .danmu_box .danmu {
    background-color: var(--color-p-100);
    font-size: var(--text-base);
    border-radius: .2rem;
    color: var(--color-p-500);
    padding: .1rem .8rem;

}

main {
    background-color: var(--color-p-500);
    padding: 1rem;
    padding-bottom: 4.5rem;
    /* 修改底栏高度 */
}

main ul {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: .4rem;
    overflow: hidden;
}

main ul li {
    border: .1rem solid var(--color-white);
    border-radius: .4rem;
    background-color: var(--color-white);
}

main ul .goods_hidden_type {
    border: .1rem solid var(--color-p-400);
    background-color: var(--color-p-100);
}

main ul li .goods_img {
    border-radius: .4rem;
    width: 100%;
    object-fit: cover;
}

main ul li .goods_content {
    display: flex;
    flex-direction: column;
    padding: .2rem 0;
}

main ul li .goods_content span {
    text-align: center;
    color: var(--color-p-500);

}

main ul li .goods_content .goods_title {
    font-size: var(--text-base);
    padding: .2rem 0;
}

main ul li .goods_content .goods_type {
    font-size: var(--text-2xl);
    font-weight: bold;
}

footer {
    height: 4rem;
    background-color: var(--color-p-500);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 1rem 0 1rem;
}

footer .buy_button {
    background-color: var(--color-p-100);
    background-image: linear-gradient(to right, var(--color-p-300), var(--color-p-100), var(--color-p-200));
    font-size: var(--text-2xl);
    text-align: center;
    padding: .3rem;
    color: var(--color-black);
    border-radius: 2rem;
}

/* 大图展示 */
.good_item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.good_item .good_item_img {
    width: 100%;
}

.close_good {
    position: fixed;
    left: calc(50% - 1.5rem);
    top: calc(50% + 175px + 1.5rem);
    font-size: var(--text-5xl);
    z-index: 3000;
}

.good_item .winning_msg {
    text-align: center;
    position: fixed;
    width: 100%;
    top: calc(50% - 175px - var(--text-4xl) - 1rem);
    font-size: var(--text-4xl);
    z-index: 3000;
}